inst/doc
.Rproj.user
/Meta/
/data-raw/src/com/src/
/data-raw/src/cp/src/
/data-raw/src/iris/src/
/data-raw/src/cp_iris/src/
/data-raw/src/cp_iris/src/inter_mailles_cp_iris.Rdata
/data-raw/src/cp_com/src/
/.RData
*.rds
*.xls
*.xlsx
*~
/COMversion.Rproj
/.Rhistory
/inst/
/data/
/COMversion_1.1.pdf
/vignettes/utilisation_COMversion_cache/
## /vignettes/utilisation_COMversion_files/
/doc/
